certifi==2021.10.8
charset-normalizer==2.0.12
dj-database-url==0.5.0
Django==2.1.7
django-heroku==0.3.1
django-pyodbc-azure 
gunicorn==20.1.0
heroku==0.1.4
idna==3.3
psycopg2 
pyodbc 
python-dateutil==1.5
python-decouple==3.6
pytz==2021.3
requests==2.27.1
urllib3==1.26.9
whitenoise==6.0.0
wincertstore==0.2
