{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create New Listing</h2>
    <form action="{% url 'createlisting' %}" method="POST">
        <label class="text-danger">Title</label>
        <div class="form-group">
            <input class="form-control" type="text" name="title" required>
        </div>
        <label class="text-danger">Description</label>
        <div class="form-group">
            <textarea class="form-control" name="description" id="" cols="30" rows="10"></textarea>
        </div>
        <label class="text-danger">Starting Bid</label>
        <div class="form-group">
            <input class="form-control" type="number" name="starting_bid" required>
        </div>
        <label class="text-danger">Category</label>
        <div class="form-group">
            <input class="form-control" type="text" name="category" required>
        </div>
        <label class="text-danger">Link of the Image</label>
        <div class="form-group">
            <input class="form-control" type="text" name="Image_link" required>
        </div>

        <input class="btn btn-warning text-light" type="Submit" value = "Create Listing">
    </form>

{% endblock %}