{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        {% if fav %}
            <a href="{% url 'favourite' list.id %}" class="btn btn-secondary">Unatchlist</a>
        {% else %} 
            <a href="{% url 'favourite' list.id %}" class="btn btn-secondary">Watchlist</a>
        {% endif %}
    {% endif %}
    <h1>{{ list.title }}</h1>
    <h5>Posted by : {{ list.author.username|title }}</h5>
    <h6>Created on: 
        {% load tz %}
        {{ list.creating_date|timezone:"Asia/Dhaka" }}
        
    </h6>
    <img src="{{ list.img }}" alt="No availabel" height="200px" width="300px">
    <h3>Description</h3>
    <p>{{ list.description }}</p>

    <h6 class="text text-danger">Starting bid : {{ list.starting_bid|floatformat:2 }} $</h6>
    <h6 class="text text-success">Current price : {{ list.current_price|floatformat:2 }} $</h6>
    <h6>Cetagory : {{ list.category }}</h6>

    {% if user.is_authenticated %}
    
        {% if user.id is list.author.id %}
            {% if status %}
                <a href="{% url 'status' list.id %}" class="btn btn-danger">Close</a>
            {% else %}
                <p class="bg bg-success text-light">Closed</p>
                <a href="{% url 'status' list.id %}" class="btn btn-success">Reopen</a>
                
                {% if messages %}
                    <ul class="messages" style="list-style: none;">
                        {% for message in messages %}
                            <li{% if message.tags %} id="msg" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
            {% endif %}

        {% else %}

            {% if messages %}
                <ul class="messages" style="list-style: none;">
                    {% for message in messages %}
                        <li{% if message.tags %} id="msg" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}


            {% if status %}
                <form action="" method="POST" class="form-inline">
                    {% csrf_token %}
                    <div>
                        {{ bform.as_table }}
                        <input type="submit" name="bform" value="Submit" class="btn btn-warning text-light">  
                    </div>    
                   
                </form>
                
                

            {% else %} 
                {% if user.id is list.winner.id %}
                    <span class="text-success">Congratualtions!😁 You're the winner of this bid.</span>
                {% else %}
                    <p class="text-danger">Sorry! This item is closed. 😢</p>
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
       
            <div class="border border-warning">
                Please Log in for bid, <a href="{% url 'login' %}" class="btn btn-danger">login</a>
            </div>
        

    {% endif %}

    
    <br><hr>
    <h1>Comments [{{list.Comments.count}}]</h1>
    <hr>
    <form action="" method="POST" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_table }}
            <input type="submit" name="form" value="Post" class="btn btn-primary">
        </div>      
    </form>
    <hr>
   {% for comment in list.Comments.all %}
        <strong>{{comment.author}}</strong>
        <small>{{comment.date|timezone:"Asia/Dhaka"}}</small><br>
        {{comment.content}}
        <hr>

    {% empty %}
        <p>No comments yet..</p>
    {% endfor %}
    
    

{% endblock %}