{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul class="list-group">
        {% for listing in listing %}
            <a style="text-decoration: none;" href="{% url 'displaylistitem' listing.id %}"> 
                <li class="list-group-item"> 
                    <table>
                        
                        <tr>
                            <td style="width: 400px;">
                                <img src="{{ listing.img }}" alt="image not available" height="200px" width="150px">
                            </td>
                            <td style="width: 300px;">
                                <div id="fontpage1">
                                    
                                    <h3 style="color: black;">{{ listing.title }}</h3>
                                    <br>
                                    <p style="color: black;">{{ listing.description }}</p>
                                    <h6 class="text text-danger">Starting bid: {{listing.starting_bid|floatformat:2 }} $</h6>
                                </div>
                                
                            </td>
                        </tr>
                        
                    </table>
                     
                </li>
            </a>
        {% empty %}
            <h1>No post has been watchlisted.</h1>
        {% endfor %}
    </ul>
    
{% endblock %}